* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(169, 168, 168);
    /* font-size: 1.2rem; */
    font-size: 1.5vw;
    color: black;
    font-family: 'Roboto';
}

header span {
    display: block;
    text-align: center;
    /* font-size: 2rem; */
    font-size: 2.5vw;
    padding: .5em;
    background-color: rgba(4, 4, 167 , .8);
    color: aliceblue;
    border-bottom: 1px solid black;
}

header nav ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    /* font-size: larger; */
    justify-content: space-around;
    background-color: rgba(4, 4, 109, 1);
    border-bottom: 1px solid black;
    box-shadow: 0 5px 15px black;
    padding: 0 .5em;
}

header nav ul li {
    display: block;
    width: 100%;
    /* height: auto; */
    padding: .5em 0;
}

header nav ul li a {
    text-decoration: none;
    color: aliceblue;
    padding: .3em 0;
    display: block;
    width: 100%;
    border-radius: 5px;
    border-right: 1px solid rgb(37, 37, 179);
    border-left: 1px solid rgb(37, 37, 179);
    text-align: center;
}

header nav ul li a:hover, header nav ul li a:focus {
    /* background-color: rgba(4, 4, 167 , .8); */
    background-color: rgb(37, 37, 179);
    transition: all .5s ease-in-out;
}

main {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
}

main h1 {
    grid-column: 1 / span 2;
    text-align: center;
    font-size: 2.5rem;
    margin-top: .6em;
    color: rgba(4, 4, 167, .8);
}

.card {
    border: 2px solid blue;
    border-radius: 10px;
}

.card .card-position {
    padding: 1em;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    /* box-shadow: 0 0 5px black; */
    /* float: right; */
}

.about-section h2, .resource-section h2 {
    background-color: rgba(4, 4, 167, .8);
    box-shadow: 0 5px 15px black;
    color: whitesmoke;
    /* font-size: medium; */
    font-size: 1.3vw;
    padding: .8em;
    border-radius: 10px 10px 0 0;
    text-align: center;
    /* margin-bottom: 1em; */
}

.about-me {
    display: flex;
    gap: 1em;
    margin: 0 1em 0 0;
}

.about-me p {
    align-self: center;
}

.about-me img {
    width: 23%;
    height: auto;
    order: 2;
    border-radius: 30%;
}

.country {
    display: flex;
    flex-direction: column;
    margin: 0 10em 0 0;
}

.country h3 {
    text-align: center;
    border-bottom: 1px solid rgba(4, 4, 167, .8);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0 2.5em 1em;
    padding-bottom: .2em;
    color: rgba(4, 4, 167, .8);
}

.about-nigeria {
    display: flex;
    gap: 1em;
    /* margin: 0 9em 0 0; */
}

.about-nigeria figure img {
    width: 100%;
    height: auto;
}

.about-nigeria :first-child figcaption {
    text-align: center;
    /* font-size: large; */
    font-style: italic;
    /* color: rgba(4, 4, 167, .8); */
}

.resources ul {
    width: 100%;
}

.resources ul li {
    list-style: none;
    text-align: center;
    /* margin: 2em 0; */
    /* display: block; */
}

.resources ul li a {
    display: block;
    text-decoration: none;
    width: 100%;
    border-top: 1px solid rgba(4, 4, 167 , .8);
    padding: 1.5em;
}

.resources ul li a:hover, .resources ul li a:focus {
    background-color: rgba(37, 37, 179, .8);
    color: whitesmoke;
    transition: all .5s ease-in-out;
}

footer {
    background-color: rgba(4, 4, 167 , .8);
    color: whitesmoke;
    /* display: flex;
    justify-content: space-between; */
    padding: 1em;
    margin-top: 1.5em;
    text-align: center;
    /* font-size: large; */
}