* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(10, 9, 9);
    color: white;
    font-size: 1.2rem;
}

header span {
    width: 100%;
    max-width: 100%;
    min-width: 700px;
    padding: 1.5rem 0;
    display: block;
    font-size: 2rem;
    text-align: center;
    /* background-color: var(--primary-color); */
    font-weight: bold;
    backdrop-filter: blur(15px);
    color: aqua
}

nav {
    margin-bottom: 2rem;
    width: 100%;
    max-width: 100%;
    min-width: 700px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: large;
    padding: 1rem 0;
    background-color: rgba(0, 255, 255, 0.1);
    backdrop-filter: blur(15px);
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(225, 222, 222);
}

nav ul li a:hover {
    color: aqua;
    transition: all 0.3s ease-in-out;
}

main {
    width: 100%;
    max-width: 80%;
    min-width: 700px;
    margin: 2rem auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
}

h1 {
    grid-column: 1 / 3;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.7rem;
    color: aqua;
}

h2 {
    margin-bottom: 1rem;
    color: aqua;
    border-bottom: 2px solid rgb(37, 108, 108);
}

img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.about-me {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

.about-me img {
    /* flex-shrink: 0; */
    order: 2;
    border: 4px solid rgb(65, 97, 97);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.card {
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.1);
    /* margin-bottom: 5rem; */
}

.card ul {
    list-style: none;
    line-height: 3;
    margin: 1rem;
    padding-top: 2rem;   
}

.card ul li a {
    text-decoration: underline;
    color: white;
}

.card ul li a:hover {
    color: aqua;
    transition: all 0.3s ease-in-out;
}

h3 {
    text-align: center;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
}

.about-nigeria {
    margin: 1rem;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.about-nigeria img {
    border-radius: 10px;
    width: 300px;
    height: 200px;
}

p {
    line-height: 1.6;
}

footer {
    width: 100%;
    max-width: 100%;
    min-width: 700px;
    padding: 1.5rem 0;
    display: block;
    font-size: 1rem;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    color: white;
    margin-top: 2rem;
}