* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    /* padding: 20px; */
    font-family: "Roboto", sans-serif;
}

header {
    width: 100%;
    /* gap: 2rem; */
}

footer {
    background-color: #214A22;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    /* font-weight: bold; */
}

#lastmodified {
    font-size: 0.9rem;
    color: #F5F5F5;
    font-weight: 700;
}

nav {
    background-color: #214A22;
    color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1rem 1rem;
}

.menu-toggle {
    background: transparent;
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.bar {
  width: 100%;
  height: 100%;
  background: whitesmoke;
  border-radius: 5px;
}

.menu {
  display: none;
}

.menu.active {
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
}

.menu.active li, .menu.active li a {
  width: 100%;
  height: 100%;
  list-style: none;
  text-decoration: none;
}

.menu.active li a {
  text-decoration: none;
}
main {
    width: 90%;
    max-width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin: 2rem;
    color: #214A22;
}

.temples-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

figure {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: rgba(76, 175, 80 , 0.7);
    border-radius: 10px;
}

figure:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

figcaption {
  width: 100%;
    text-align: center;
    margin-top: 0.5rem;
    font-weight: bold;
}
