@media screen and (min-width: 50em) {
    .menu-toggle {
      /* transition: all .7s eas-in-out; */
      display: none;
    }
    
    .menu {
      display: flex;
    }

    .menu {
      list-style: none;
      display: flex;
      gap: 1rem;
      padding: 10px;
      font-size: large;
    }

    .menu li a {
      color: whitesmoke;
      text-decoration: none;
      font-weight: bold;
    }

    .menu li a:hover, .menu li a:focus {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      transition: all 0.3s ease;
      padding: .7rem 2rem;
    }
}